<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href=".././src/css/game.css" />
    <link rel="stylesheet" href=".././src/css/game-login.css" />
    <script type="module" src="../src/js/game-main.js"></script>
    <title>Game Login</title>
</head>
<!--Body-->

<body class="game-body">
    <!--Horizontal Navbar-->
    <div class="game-navbar">
        <h2><a class="nav-link title" href=".././game-home.html">Swordbound</a></h2>
        <div class="navbar">
            <ul>
                <li><a class="nav-link" href="./game-play.html">Play</a></li>
                <li><a class="nav-link" href="./game-leaderboard.html">Leaderboard</a></li>
                <li id="hide-register"><a class="nav-link" href="./game-registration.html">Register</a></li>
                <li>
                    <a class="nav-link" id="hide-login" href="./game-login.html">Log In</a>
                    <a class="nav-link" id="hide-logout">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
    <!--Horizontal Navbar End-->
    <!--Login Div-->
    <div class="game-login">
        <h1 id="form-title">Login</h1>
        <div id="form-message"></div>
        <!--Login Form-->
        <form class="login-form" id="game-login-form" action="">
            <!-- Username Form Group-->
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Enter username here" required />
            </div>
            <!-- Password Form Group-->
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter Password Here" required />
            </div>
            <button type="submit" class="submit-btn" id="submit-btn">Login</button>
        </form>
        <!--Login Form End-->
    </div>
    <!--Login Div End-->
</body>
<!--Body End-->

</html>