<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href=".././src/css/game.css" />
    <link rel="stylesheet" href=".././src/css/game-profile.css" />
    <title>Game Profile</title>
</head>

<body class="game-body">
    <div class="game-navbar">
        <h2><a class="nav-link title" href=".././game-home.html">Game Website</a></h2>
        <div class="navbar">
            <ul>
                <li><a class="nav-link" href="./game-play.html">Game</a></li>
                <li><a class="nav-link" href="./game-leaderboard.html">Leaderboard</a></li>
                <li><a class="nav-link" href="./game-profile.html">Profile</a></li>
            </ul>
        </div>
    </div>
    <div class="game-profile">
        <h1>Profile</h1>
        <div class="profile-info">
            <div class="profile-item">
                <h2 class="profile-label"> Username:</h2>
                <h3 class="profile-value">Player 1</h3>
            </div>
            <div class="profile-item">
                <h2 class="profile-label"> Email:</h2>
                <h3 class="profile-value">johndoe@gmail.com</h3>
            </div>
            <div class="profile-item">
                <h2 class="profile-label"> Password:</h2>
                <h3 class="profile-value">Dash@123</h3>
            </div>
            <div class="profile-item">
                <h2 class="profile-label"> Highest Score</h2>
                <h3 class="profile-value">100</h3>
            </div>
        </div>
        <button class="edit-profile">Edit Profile</button>
    </div>
</body>

</html>