<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href=".././src/css/game.css" />
    <link rel="stylesheet" href=".././src/css/game-leaderboard.css" />
    <title>Game Leaderboard</title>
</head>

<body class="game-body">
    <div class="game-navbar">
        <h2><a class="nav-link title" href=".././game-home.html">Game Website</a></h2>
        <div class="navbar">
            <ul>
                <li><a class="nav-link" href="./game-play.html">Game</a></li>
                <li><a class="nav-link" href="./game-leaderboard.html">Leaderboard</a></li>
                <li><a class="nav-link" href="./game-profile.html">Profile</a></li>
            </ul>
        </div>
    </div>
    <div class="game-leaderboard">
        <h1>Leaderboard</h1>
        <div class="leaderboard-list">
            <ol>
                <li>
                    <div class="leaderboard-item">
                        <span class="player-name">Player 1</span>
                        <span class="player-score">1500</span>
                    </div>
                </li>
                <li>
                    <div class="leaderboard-item">
                        <span class="player-name">Player 2</span>
                        <span class="player-score">1200</span>
                    </div>
                </li>
                <li>
                    <div class="leaderboard-item">
                        <span class="player-name">Player 3</span>
                        <span class="player-score">900</span>
                    </div>
                </li>
                <li>
                    <div class="leaderboard-item">
                        <span class="player-name">Player 4</span>
                        <span class="player-score">800</span>
                    </div>
                </li>
                <li>
                    <div class="leaderboard-item">
                        <span class="player-name">Player 5</span>
                        <span class="player-score">500</span>
                    </div>
                </li>
                <li>
                    <div class="leaderboard-item">
                        <span class="player-name">Player 1</span>
                        <span class="player-score">1500</span>
                    </div>
                </li>
                <li>
                    <div class="leaderboard-item">
                        <span class="player-name">Player 2</span>
                        <span class="player-score">1200</span>
                    </div>
                </li>
                <li>
                    <div class="leaderboard-item">
                        <span class="player-name">Player 3</span>
                        <span class="player-score">900</span>
                    </div>
                </li>
                <li>
                    <div class="leaderboard-item">
                        <span class="player-name">Player 4</span>
                        <span class="player-score">800</span>
                    </div>
                </li>
                <li>
                    <div class="leaderboard-item">
                        <span class="player-name">Player 5</span>
                        <span class="player-score">500</span>
                    </div>
                </li>
            </ol>
        </div>

    </div>
</body>

</html>