/*CSS START*/
.game-profile {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #faf3dd;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.profile-info {
    width: 50%;
    margin-bottom: 15px;
}

.profile-info .profile-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.profile-info .profile-value {
    width: 35%;
    text-align: center;
}

.edit-profile {
    width: 100px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px;
    margin: 10px 5px;
    text-decoration: none;
    font-size: 14px;
}

.edit-profile:hover,
.edit-profile:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

/*CSS END*/