/* CSS START */
@font-face {
    font-family: 'Tronica Mono';
    src: url('../../assets/fonts/Tronica_Mono.ttf') format('truetype');
}

body {
    font-family: 'Tronica Mono', sans-serif;
    background-image: url("../../assets/Backgrounds/website-background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Game Navbar */
.game-navbar {
    font-family: 'Tronica Mono', sans-serif;
    width: 100%;
    background-color: #faf3dd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    border-radius: 10px;
}

.game-navbar h2 {
    margin: 0;
    margin-left: 20px;
    width: 200px;
    text-align: center;
}

.game-navbar a {
    text-decoration: none;
    color: #666;
}

.navbar ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    display: block;
    text-align: center;
    padding: 25px 35px;
    text-decoration: none;
    font-size: 20px;
    color: #666;
}

.navbar ul li a:hover {
    background-color: #ddd;
    color: #333;
}

.navbar ul li:last-child a:hover {
    background-color: #ddd;
    color: #333;
    border-radius: 0 10px 10px 0;
}

.navbar ul li a.active {
    color: white;
    background-color: #04AA6D;
}

/* Game Navbar END */
/* CSS END */