/*CSS START*/
.game-login {
    margin-top: 50px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #faf3dd;
    border-radius: 10px;
    padding-bottom: 20px;
}

.game-login h1 {
    margin-top: 30px;
    margin-bottom: 50px
}

/* Form CSS */
.game-login .login-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-login .login-form .form-group label {
    font-size: 20px;
    margin-bottom: 5px;
}

.game-login .login-form .form-group input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 40px;
    width: 100%;
}

.submit-btn {
    width: 100px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px;
    margin: 10px 5px;
    text-decoration: none;
    font-size: 14px;
}

.submit-btn:hover,
.submit-btn:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

/* Form CSS End */
/* CSS End */